[user]
	name = Cam Mace
	email = cameronmace10@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMtaQBmh0OXKS6I5P+DEZqZWFOzFXfdZ7XlWE3DIZ6n6
[commit]
	gpgsign = true
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = ~/.config/git/allowed_signers
[gpg]
	format = ssh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[core]
	editor = zed --wait
[push]
	autoSetupRemote = true
	default = simple
[fetch]
	prune = true
[pull]
	rebase = true
[rerere]
	enabled = true
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[branch]
	sort = -committerdate
[column]
	ui = auto
[includeIf "hasconfig:remote.*.url:git@github.com:commhospital/**"]
	path = ~/.gitconfig-work
[includeIf "hasconfig:remote.*.url:https://github.com/commhospital/**"]
	path = ~/.gitconfig-work
[includeIf "hasconfig:remote.*.url:https://*@github.com/commhospital/**"]
	path = ~/.gitconfig-work
